body{
	background-color: #000;
	background-image: url('/img/background-pattern.jpg');
	background-size: 35%;
	font-size: 1.2em;
}

a{
	color: #779;
}

a:hover{
	text-decoration: none;
	color: #669;
}

li {
	list-style: none;
}

.index-panel{
	margin-top: 5%;
}

.blog-title{
	margin-top: 5%;
	color: #EEE;
	padding-left: 4%;
}

.blog-title h1{
	margin-top: 0;
	color: #EEE;
}

.index-panel .panel{
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 0;
	border-color: #333;
}

.panel-default > .panel-heading{
	color: #EEE;
	background-color: #333;
	border-color: #333;
	border-radius: 0;
}

.panel-default > .panel-heading .glyphicon{
	margin-left: 5px;
	cursor: pointer;
}

#post-picture{
	width: 100%;
}

a.glyphicon{
	color: #DDD;
}

#post-form input[name="picture"]{
	display: inline;
}

.panel-default > table > tbody > tr{
	border-top: 1px solid #DDD;
}

.index-panel.dialog{
	z-index: 999;
	left: 50%;
	margin-left: -15%;
	position: absolute;
	top: 50px;
	width: 30%;
}

.btn{
	margin-left: 5px;
}