
<%= include base-top.html %>

<div class="index-panel col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Post index</strong><span id="post-actions" class="pull-right"><a href="/posts/new" class="glyphicon glyphicon-plus"></a></span>
		</div>
		<table class="table">
			<tbody>
				<% for(var i=0; i<posts.length; i++) { %>
					<tr>
						<td><a href="/posts/<%= posts[i]._id %>"> <%= posts[i].title %> </a></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
<%= include base-bottom.html %>
