<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<script type="text/javascript" src="/js/bootstrap.js"></script>
	</head>
	<body>
		<div class="row index-panel">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
					</div>
					<table class="table">
						<% for(var i=0; i<posts.length; i++) { %>
							<tr>
								<td><a href="/post/<%= posts[i]._id %>"> <%= posts[i].title %> </a></td>
							</tr>
						<% } %>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>