<%= include base-top.html %>

<div class="index-panel col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>New post</strong>
		</div>
		<div class="panel-body">
			<div class="post-container">
				<form action="" method="post" enctype="multipart/form-data" id="post-form">
					<p> 
						<label for="title">Title </label> 
						<input class="form-control" type="text" name="title" /> 
					</p>
					<p> 
						<label for="title">Body </label> 
						<textarea class="form-control" type="text" name="body" rows="15"></textarea>
					</p>
					<p>
						<label for="picture">Picture </label> 
						<input type="file" name="picture" /> 
						<input type="submit" class="btn btn-default btn-sm pull-right" />
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

<%= include base-bottom.html %>
