<%= include base-top.html %>

<div class="index-panel col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong><%= post.title %></strong>
			<span class="pull-right">

				<% if(typeof user != 'undefined'){ %>
			
					<% if(user.hasPerm('updatePost')){ %>
						<a id="post-edit" href="/posts/<%= post._id %>/update" class='glyphicon glyphicon-pencil'></a>
					<% } %>
			
					<% if(user.hasPerm('deletePost')){ %>
						<a id="post-delete" data-post-id="<%= post._id %>" class='glyphicon glyphicon-remove'></a>
					<% } %>
			
				<% } %>
				
			</span>
		</div>
		<img id="post-picture" src="<%= post.picture %>"></img>
		<div class="panel-body">
			<div class="post-container">
				<%- post.body %>
			</div>
		</div>
	</div>
</div>

<%= include base-bottom.html %>