<%= include base-top.html %>
<div class="index-panel col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Edit user permissions</strong>
        </div>
        <div class="panel-body">
            <div class="post-container">
                <form action="" method="post" enctype="multipart/form-data" id="post-form" class="new-post-form">
                    <p>
                        <label for="permissions">Permissions </label> 
                        <select multiple class="select2 form-control" name="permissions">
                            <option value="createUser">Create User</option>
                            <option value="deleteUser">Delete User</option>
                            <option value="createPost">Create Post</option>
                            <option value="updatePost">UpdatePost</option>
                            <option value="deletePost">Delete Post</option>
                        </select>
                    </p>
                        <% if(typeof formError != 'undefined'){ %>
                            <div><%= formError %></div>
                        <% } %>
                    <input type="submit" class="btn btn-default btn-sm pull-right" value="Submit"/> 
                </form>
            </div>
        </div>
    </div>
</div>

<%= include base-bottom.html %>
